<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %style{%d{yyyy-MM-dd HH:mm:ss.SSS}{Europe/Stockholm}}{dim,white} %highlight{%5p}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=magenta, DEBUG=green bold, TRACE=blue} --- [%21.21t] %style{%-40.40c{1.}}{cyan} : %m%n%ex
        </Property>
		<Property name="CONSOLE_FILE_LEVEL">DEBUG</Property>
		<Property name="LOG_DIR">.</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
        	<PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false"/>
        </Console>
		<RollingFile name="FileAppender" fileName="${LOG_DIR}/workflowExecutor.log" filePattern="${LOG_DIR}/WExecutor-%d{yyyy-MM-dd}-%i.log">
	    	<PatternLayout>
	        	<Pattern>${LOG_PATTERN}</Pattern>
	    	</PatternLayout>
	    	<Policies>
	        	<SizeBasedTriggeringPolicy size="100MB" />
	    	</Policies>
	    	<DefaultRolloverStrategy max="10" />
		</RollingFile>
		
    </Appenders>
    <Loggers>
		<Root level="WARN">
            <AppenderRef ref="ConsoleAppender" /> <!-- comment out this one in production environment -->
            <AppenderRef ref="FileAppender" />
        </Root>
		<Logger name="eu.arrowhead.common" level="${CONSOLE_FILE_LEVEL}" additivity="true"></Logger>
		<Logger name="eu.arrowhead.core" level="${CONSOLE_FILE_LEVEL}" additivity="true"></Logger>
		<Logger name="se.ltu.workflow.executor" level="${CONSOLE_FILE_LEVEL}" additivity="true"></Logger>
		
		<Logger name="eu.arrowhead.client" level="${CONSOLE_FILE_LEVEL}" additivity="true"></Logger> <!-- For debugging -->
		
    </Loggers>
</Configuration>
